/* * {
  box-sizing: content-box;
} */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  height: 100%;
}

body,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

h3 {
  margin-bottom: 0.25em;
}

li {
  font-size: small;
  margin-left: 1em;
  margin-bottom: 0.25em;
}
