/* * {
  box-sizing: content-box;
} */

body {
  height: 100%;
}

body,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

h3 {
  margin-bottom: 0.25rem;
}

li {
  font-size: small;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}
