.container {
  display: grid;
  grid-template-columns: 1.75fr 6.5fr 1.75fr;
  grid-template-rows: 1.25fr 6.5fr 2.25fr;
  grid-template-areas:
    "header header header"
    "articles content ads"
    "footer footer footer";
  gap: 0.25rem;
  height: 100vh;
}

.item {
  padding: 0.5rem;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.header {
  grid-area: header;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.articles {
  grid-area: articles;
}

.content {
  grid-area: content;
}

.content > div {
  display: flex;
  flex-direction: row;
}

.content > div > p {
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.ads {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}
